
<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
        <div class="modal-header">
            <h4 class="modal-title" id="exampleModalLabel">{{ modalTrabajo.title | titlecase }}</h4>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
            </button>
        </div>
        <div class="modal-body">

            <form #forma="ngForm" (ngSubmit)="updateDataWork( forma )">
                <div class="form-group">
                    <label for="inputTitle">Título</label>
                    <input name="title" [(ngModel)]="modalTrabajo.title" type="text" class="form-control" id="inputTitle" placeholder="Ingrese título trabajo" required>
                </div>
                <div class="form-group">
                    <label for="inputDescription">Descripción</label>
                    <textarea class="form-control" name="description" placeholder="Ingrese descripción" [(ngModel)]="modalTrabajo.description" cols="5" rows="4" required></textarea>
                </div>
                <div class="form-group">
                    <label for="exampleInputEmail1">Observación <small class="text-muted">(Opcional)</small></label>
                    <textarea class="form-control" name="annotation" [(ngModel)]="modalTrabajo.annotation" placeholder="Ingrese Observación" cols="5" rows="4"></textarea>
                </div>
                <button [disabled]="!forma.valid" type="submit" class="btn btn-primary">Guardar cambios</button>
            </form>

        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
        </div>
        </div>
    </div>
</div>